{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    
</head>
<body>
    <header>
        <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
        
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'add_employee' %}">Add Employee</a></li>
                </ul>
                
            </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>XYZ Company Employee Management &copy; 2024</p>
    </footer>
</body>
</html>
